
<h1>Login</h1>

<form method=" post" action=" AccountContorller/Login">
	<label> user Name: </label>
	<input type=" text" Name=" un" />
	<label> password:</label>
	<input type=" text" Password=" pwd" />
	<label> email: </label>
	<input type=" text" Email=" e" />
	<label> Date of creation</label>
	<input type=" text" CreationDate=" e" />
	<input type=" submit" value=" Log in" />
	<button type="submit">Login</button>
</form>