
<h1> Register</h1>

<form method="post">
    <input type="text" name="Name" required placeholder="Name" />
    <input type="email" name="Email" required placeholder="Email" />
    <input type="password" name="Password" required placeholder="Password" />
    <input type="password" name="ConfirmPassword" required placeholder="Confirm Password" />
    <button type="submit">Register</button>
</form>
<div>@ViewBag.Message</div>